canvas {
  border:1px solid #d3d3d3;
  background-color: #f1f1f1;
}



.container {
  text-align: center;
  margin-top: 150px;
  background-color: brown;
  -webkit-backdrop-filter: hue-rotate(30%);

}

.zone {
  width: 100px;
  height: 100px;
  border: solid black;
  margin: 20px;
  display: inline-block;
  transition: 0.5s all;
}
div {
  width: 100px;
  height: 100px;
  background: rgb(0, 255, 204);
  position: relative;
  animation: mymove 10s infinite;
  animation-timing-function: linear;
}

@keyframes mymove {
  from {left: 0px;}
  to {left: 500px;}
}

body {

color:rgb(98, 14, 216);
background-color: palegoldenrod;

}
